.countryList {
  width: 100%;
  height: calc(100vh - 210px);
  overflow-y: scroll;
  overflow-x: hidden;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 15px;
  padding: 0px 15px;
}

.countryList::-webkit-scrollbar {
  width: 0 !important;
}

@media (max-width: 350px) {
  .countryList {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
